<div id="div-contenedor" class="m-arquetipo">
  <div id="m-arquetipo-titulo">{{translations.title}}</div>
  <div class="m-arquetipo-panel">
    <button id="ctrlTest1" class="g-cartografia-bandera" title="AddFeature" style="color:Black;">{{translations.button1}}</button><br>
    <button id="ctrlTest2" class="g-cartografia-bandera" title="AddFeature" style="color:Black;">{{translations.button2}}</button>
    <button id="ctrlTest3" class="g-cartografia-bandera" title="AddFeature" style="color:Black;">{{translations.button3}}</button>
    <button id="ctrlTest4" class="g-cartografia-bandera" title="AddFeature" style="color:Black;">Botón</button>
  </div>
  
</div>
